/*
** Start with the normalize CSS reset, and then belay some of its effects
*//*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
    system-ui,
    -apple-system, /* Firefox supports this but not yet `system-ui` */
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Consolas,
    'Liberation Mono',
    Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}
*, input[type="search"] {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}input[type="search"] {
  outline-offset: initial;
}/*
** Basic element styles
*/html, body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	text-rendering: optimizeLegibility; /* Enables kerning and ligatures etc. */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}html:-webkit-full-screen {
	background-color: #C5CADB;
}body.tc-body {
	font-size: 16px;
	line-height: 1.4;
	word-wrap: break-word;
	color: #333333;
	background-color: #C5CADB;
	fill: #333333;
}/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */h1 {
	font-size: 2em;
}h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: bold;
}pre {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	word-break: normal;
	word-wrap: break-word;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	padding: 0 3px 2px;
	border-radius: 3px;
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}code {
	color: #dd1144;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	white-space: pre-wrap;
	padding: 0 3px 2px;
	border-radius: 3px;
	font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}blockquote {
	border-left: 5px solid #bbb;
	margin-left: 25px;
	padding-left: 10px;
	quotes: "\201C""\201D""\2018""\2019";
}blockquote > div {
	margin-top: 1em;
	margin-bottom: 1em;
}dl dt {
	font-weight: bold;
	margin-top: 6px;
}button, textarea, input, select {
	outline-color: #5778d8;
}textarea,
input[type=text],
input[type=search],
input[type=""],
input:not([type]) {
	color: #333333;
	background: #ffffff;
}input[type="checkbox"] {
  vertical-align: middle;
}input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.8em;
	line-height: 1.2;
	color: #333333;
	vertical-align: middle;
	background-color: #ffffff;
	border: solid 1px #bbb;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}::selection {
	background-color: Highlight;
	color: HighlightText;
	background-color: ;
	color: ;
}/*
Markdown likes putting code elements inside pre elements
*/
pre > code {
	padding: 0;
	border: none;
	background-color: inherit;
	color: inherit;
}table {
	border: 1px solid #dddddd;
	width: auto;
	max-width: 100%;
	caption-side: bottom;
	margin-top: 1em;
	margin-bottom: 1em;
	/* next 2 elements needed, since normalize 8.0.1 */
	border-collapse: collapse;
	border-spacing: 0;
}table th, table td {
	padding: 0 7px 0 7px;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}table thead tr td, table th {
	background-color: #f0f0f0;
	font-weight: bold;
}table tfoot tr td {
	background-color: #a8a8a8;
}/*
Page Layout
*/.tc-page-wrapper {
    background-color: #DBA512;
}@media (min-width: 760px) {
	.tc-page-wrapper {
		width: 660px;
		margin: 0 auto;
	}
}
@media (max-width: 760px) {
	.tc-page-wrapper {
		margin: 0 0;
	}
}.tc-section-branding {
    padding: 3em 1em 0 1em;
    background-color: #DB3D69;
}.tc-section-branding img {
    vertical-align: text-bottom;
}.tc-section-branding a {
    text-decoration: none;
    color: #ffffff;
}.tc-section-branding-text {
    font-size: 2em;
    font-weight: bold;
}.tc-section-menu {
    padding-top: 1em;
}.tc-section-menu > ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 0.5em;
}.tc-section-menu > ul > li {
    display: inline;
}.tc-menu-item {
    display: inline-block;
    padding: 0.25em;
    text-decoration: none;
    font-weight: bold;
}.tc-menu-item-selected {
    background: white;
}.tc-section-menu a {
}.tc-section-content {
    padding: 1em;
    background-color: #ffffff;
}.tc-section-footer {
    padding: 1em;
    color: #ffffff;
    background-color: #DBA512;
    border-top: 0.5em solid #DB3D69;
}/*
Rich links
*/.tc-richlink {
    display: inline-block;
}.tc-richlink a {
    text-decoration: none;
}.tc-richlink-contributor {
    font-size: 1.2em;
    font-weight: bold;
}.tc-richlink-contributor img {
    width: 1em;
    height: 1em;
}tc-richlink-contributor-name {
}.tc-richlink-link {
    
}.tc-richlink-link-info {
}.tc-richlink-link-target {
    text-decoration: none;    
}.tc-richlink-link-target:hover {
    background-color: #DBA512;    
}.tc-richlink-link-target {
    vertical-align: middle;
}.tc-richlink-link-target svg {
    width: 1em;
    height: 1em;
}.tc-richlink-topic {
    font-size: 0.8em;
}.tc-richlink-topic a {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    text-decoration: none;
    background-color: #2852DB;
    color: #ffffff;
    font-weight: bold;
}/*
Details
*/.tc-list-horizontal {
    list-style: none;
    padding: 0;
}.tc-list-horizontal > li {
    display: inline;
}.tc-list-vertical {
    list-style: none;
    padding: 0;
}.tc-list-vertical > li {
    margin: 1em 0;
}.tc-link-panel {
    border: 1px solid #bbb;
    border-radius: 0.25em;
}.tc-link-panel > .tc-link-panel-heading {
    background-color: #bbb;
    line-height: 1.7;
    padding-left: 0.5em;
}.tc-link-panel > .tc-link-panel-heading > .tc-link-panel-subheading {
    font-size: 0.8em;
}.tc-link-panel > .tc-link-panel-body {
    padding: 0.5em;
}